<div class="dashboard-wrapper">
    <section class="super-simple-wrapper">
        <div class="container-wrapper">
            <header>
                <div class="nav-bar">
                    <div class="logo-img">
                        <img src="../../assets/logo/logo.png" alt="">
                    </div>
                    <div class="navbar-wrapper">
                        <ul class="navbar-menu">
                            <li><a routerLink="/products">Products</a></li>
                            <li><a routerLink="/solutions">Solutions</a></li>
                            <li><a routerLink="/pricing">Pricing</a></li>
                            <li><a href="" class="login-btn">Login</a></li>
                            <li><a href="" class="start-btn">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="content-wrapper">
                <div class="content-container">
                    <div class="content-row">
                        <div class="content-column">
                            <h3 class="heading-text">We make it Super Simple</h3>
                            <img src="../../assets/collect_img-video/collect_img-video.png" alt="" class="column-wrapper-img">
                            <img src="../../assets/accounting_dots.svg" alt="" class="accounting_dots_img">
                        </div>
                        <div class="content-column">
                            <img src="../../assets/Group 6.svg" alt="">
                            <img src="../../assets/accounting_dots.svg" alt="" class="accounting_dots_img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <img src="../../assets/blob-small.svg" alt="" class="blob-small-img">
            <img src="../../assets/circle.svg" alt="" class="circle-img-wrapper">
    </section>
    <section class="boost-business">
        <div class="boost-business-wrapper">
            <div class="container-wrapper">
                <div class="content-wrapper">
                    <div class="content-container">
                        <div class="content-row">
                            <div class="content-column first-column">
                                <div class="about-business-wrapper">
                                    <div class="business-column">
                                        <div class="business-each-wrapper">
                                            <div class="business-content">
                                                <img src="../../assets/Get Paid Instantly/Get Paid Instantly.png" alt="">
                                                <h3 class="each-heading-text">Quick cash disbursement</h3>
                                                <p class="each-description-text">Get terms loans that your business needs within 72 hrs</p>
                                            </div>
                                        </div>
                                        <div class="business-each-wrapper">
                                            <div class="business-content">
                                                <img src="../../assets/Low interest rate/Low interest rate.png" alt="">
                                                <h3 class="each-heading-text">Low-interest rate</h3>
                                                <p class="each-description-text">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
                                            </div>
                                        </div>
                                        <div class="business-each-wrapper">
                                            <div class="business-content">
                                                <img src="../../assets/Secure Payments/Secure Payments.png" alt="">
                                                <h3 class="each-heading-text">Zero Paperwork</h3>
                                                <p class="each-description-text">Get started instantly by submitting only your basic details & bank statements</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="business-column">
                                        <div class="business-each-wrapper blue-background">
                                            <div class="business-content">
                                                <img src="../../assets/freelancer_feature_icon_6@1.5x/freelancer_feature_icon_6@1.5x.png" alt="">
                                                <h3 class="each-heading-text text-white">Ace your business finances</h3>
                                                <p class="each-description-text text-white">Manage banking, accounting & everything in between, on one platform</p>
                                            </div>
                                        </div>
                                        <div class="business-each-wrapper">
                                            <div class="business-content">
                                                <img src="../../assets/Covid/Covid.png" alt="">
                                                <h3 class="each-heading-text">Loans to fight COVID-19</h3>
                                                <p class="each-description-text">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-column second-column">
                                <div class="column-business-content">
                                    <h3 class="heading-text">Boost your business with Open</h3>
                                    <p class="description-text">Get your hands on a term loan that’s<br> crafted for your business</p>
                                    <a href="" class="get-account-cta">Get an Open Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- <img src="../../assets/Covid/Covid.png" alt="">
<img src="../../assets/freelancer_feature_icon_6@1.5x/freelancer_feature_icon_6@1.5x.png" alt="">
<img src="../../assets/Get Paid Instantly/Get Paid Instantly.png" alt="">
<img src="../../assets/Low interest rate/Low interest rate.png" alt="">
<img src="../../assets/Secure Payments/Secure Payments.png" alt=""> -->